<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <div class="panel panel-default" *ngFor="let post of posts">
      <div class="panel-heading -padding-5">
        <a [routerLink]="['users', post.$$user.id]">
          <h5>
            <img src="assets/user.png" height="50" width="50" class="img-responsive -inline"> &nbsp; {{ post.$$user.name }}
          </h5>
        </a>
      </div>
      <div class="panel-body">
        <h4>{{ post.title }}</h4>
        <hr>
        <p [innerHTML]="post.body"></p>
      </div>
    </div>
  </div>
</div>
